<%- include('../includes/header.ejs')  %>
  <section class="section" id="shop_section">

        <div class="shop_section_container">
            <h2>K|<span style="color:rgb(217,4,41)">ZEN</span> COLLECTION </h2>
            <div class="slide_container">
                    <img id= "slider_image_one" src="/img/slide1.jpg">
                    <img id="slider_image_two" src="/img/slide3.jpg">
            </div>
                
            
            
            <div class="product_display_container">
                <% products.forEach(product => { %>
                    <div class="product_display">
                    
                        <a href="/product/<%=product.id%>">
                            <img  src="img/<%=product.imageDisplay%>.jpg">
                        </a>
                        <p><%= product.name %></p>
                        <form method="POST" action="#">
                            <button>Add to Cart</button>
                        </form>
    
                    </div>
                <%  })  %>
               

             

            </div>

        </div>
        <svg id="shop_divider" data-name="divider 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 94">
            <polygon class="cls-1" points="0 94 512 0 1024 94 0 94"/></svg>
  

  </section>


<%- include('../includes/footer.ejs')  %>